<title>Express-React</title>
<link rel="shortcut icon" href="https://github.com/hasangenc0/express-react/raw/master/logo.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
