<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="background:black;">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center ">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/logo.png">
    </a>
    <h1>HASAN GENC COMPUTER SERVICES</h1>
    <p>This is my Node application deployed to Heroku.This Platform will be improving day to day.</p>
    <a type="button" class="btn btn-lg btn-default" href=""><span class="glyphicon glyphicon-flash"></span> My Projects</a>
    <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span> My GitHub</a>
  </div>
</div>
<div class="container">
  
  
  <div class="alert alert-dark text-center" role="alert">
    Purpose of this platform is learn and teach to improve ourself. <a target="_blank" href="https://www.linkedin.com/in/hasangenc0/" class="alert-link">This is my Linkedin if you want to connect to me for jobs </a>
  </div>
  
  <!--
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="">package.json</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/node-js-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd node-js-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="">Heroku</a></li>
        <li><a href="">Heroku Dev Center</a></li>
        <li><a href="">Getting Started with Node on Heroku</a></li>
        <li><a href="">Deploying Node Apps on Heroku</a></li>
      </ul>
    </div>
  </div> 
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>-->
</div>


</body>
</html>
