<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="background:black;">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center ">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/logo.png">
    </a>
    <h1>HASAN GENC COMPUTER SERVICES</h1>
    <p>This is my Node application deployed to Heroku.This Platform will be improving day to day.</p>
    <a type="button" class="btn btn-lg btn-default" href=""><span class="glyphicon glyphicon-flash"></span> My Projects</a>
    <a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-download"></span> My GitHub</a>
  </div>
</div>
<div class="container" autocomplete="off">
    <form  method="get">
        <label for="word-i">Word: </label>
        <br>
        <input id="word-i" type="text" name="word" value="" placeholder="Enter a Word.." autocomplete="off">
        <br><br>
        <label for="translate-i">Translate: </label>
        <br>
        <input id="translate-i" type="text" name="translate" value="" placeholder="Enter a Translation.." autocomplete="off">
        <br><br>
        <input type="submit" value="OK">
    </form>  
  
</div>


</body>
</html>

